@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo {
    height: 500vh;
    width: 100%;
    font-family: "SoDo Sans SemiBold", 'icones';
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
}

.barra-navegacao {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 16px;
}

    .logo {
        height: 64px;
        margin: 0 40px;
    }

    .menu {
        display: flex;
        gap: 16px;
        justify-self: flex-start;
    }

        .menu-item {
            list-style: none;
            font-size: 16px;
        }

.historia-botoes {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    .imagem-historia {
        width: 120px;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .encontre-loja {
        
    }

        .encontre-loja::before {
            content: "";
        }

        .botao-entrar {
            width: 90px;
            height: 40px;
            background: none;
            border: 1px solid black;
            border-radius: 20px;
            font-family: "SoDo Sans SemiBold";
            padding: auto;
        }

        .botao-participe {
            width: 180px;
            height: 40px;
            background: black;
            border: 1px solid black;
            color: white;
            border-radius: 20px;
            font-family: "SoDo Sans SemiBold";


        }


/* PRINCIPAL */

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}


    .banner {
        width: 100%;
        grid-column: span 2;
    }

    .compromisso {
        text-align: center;
        padding: 40px 300px;
        background-color: #d4e9e2;
        grid-column: span 2;
    
    }

        .compromisso p {
            margin-bottom: 20px;
            font-size: 18px;
            word-break: normal;
            line-height: 2rem;
        }

    .imagem-conteudo-principal {
        width: 50%;
    }

    .botao-saiba-mais {
        background: none;
        border: 1px solid black;
        border-radius: 20px;
        width: 7rem;
        height: 2rem;
        font-family: "SoDo Sans SemiBold";
        font-size: 1rem;
    }



    .funcionamento-lojas {
        display: flex;
        grid-column: span 2;
        align-items: center;
        background-color: #d4e9e2;
    }

    .funcionamento-lojas .texto {
        display: flex;
        flex-direction: column;
        padding: 50px 150px;
        height: 100%;
        width: 50%;
        justify-content: center;
    }

    .funcionamento-lojas .texto .titulo-paragrafo {
        text-align: center;
        margin-bottom: 2rem;

    }

    .funcionamento-lojas .texto .paragrafo {
        text-align: center;
        line-height: 2rem;
    } 

    .botao-baixe-app {
        background: none;
        border: 1px solid black;
        border-radius: 20px;
        width: auto;
        height: 2rem;
        font-family: "SoDo Sans SemiBold";
        font-size: 1rem;
        margin-top: 1.5rem;
    }

.pausa {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d4e9e2;
}

.pausa h2  {
    font-size: 20px;
}

.pausa h1 {
    font-size: 25px;
}


.pausa .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 4rem;
}

.pausa .texto .botao-saiba-mais {
    background: none;
    border: 1px solid black;
    border-radius: 20px;
    width: 8rem;
    height: 2rem;
    font-family: "SoDo Sans SemiBold";
    font-size: 1rem;
    margin-top: 2rem;
    padding: 18px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esperanca-uniao {
    grid-column: span 2;
    display: flex;
    align-items: center;
    background-color: #d4e9e2;
}

.esperanca-uniao .texto .titulo-paragrafo {
    font-size: 25px;
}


.esperanca-uniao .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
    font-size: 20px;
    text-align: center;
}

.baristas {
    grid-column: span 2;
    display: flex;
    align-items: center;
    background-color: #d4e9e2;
}


.baristas .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 50px;
    text-align: center;
    font-size: 14px;
    gap: 2rem;
}

.baristas .texto .titulo-paragrafo {
    font-size: 25px;
}

/*FOOTER*/

.rodape {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    margin-top: 32px;
}

.rodape-primario {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 150px;
    column-gap: 40px;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 25px;  
    list-style: none;  
}

.item-lista {
    color: rgba(0,0,0,.56);
}

.item-lista:first-child {
    color: #32312d;
    font-size: 20px;
}

.historias-latin-america {
    width: 120px;
}

.rodape-secundario {
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 150px;
    gap: 40px;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    border-top: 0.4px solid rgba(0,0,0,.20);
    padding-top: 80px;
}

.midia-social {
    height: 35px;
}

.politicas {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.item-politicas {
    list-style: none;
    text-decoration: none;
    color: rgba(0,0,0,.87);
    padding-right: 20px;
    border-right: 1px solid rgba(0,0,0,.87);
}

.copyrights {
    color: rgba(0,0,0,.44);
}

.historia-botoes i::before{
    content: \f3c5;
}








